<h4>{{ model.name }}</h4>
<img src="/images/{{model.image}}.jpg" alt="{{model.name}}">
<p>{{model.rating}}</p>
<p>
    {{model.description}}
</p>

{{#link-to 'item.nutrition'}}Nutrition{{/link-to}}

{{outlet}}