Are you hungry? How about now?

{{ log model }}

<ul class="item-container">
    {{#each model as |item|}}
        <li class="menu-item">
            <h4>{{ item.name }}</h4>
            <img src="/images/{{ item.image }}" alt="{{ item.name }}">
            <a href="/item/{{ item.id }}">Details</a>
        </li>
    {{/each}}
</ul>
{{outlet}}